/*Colors*/
/*Typography*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  resize: both;
}

body, html {
  padding: 0;
  margin: 0;
  background-color: white;
  font-size: 18px;
  color: #808d99;
  font-family: "Open Sans";
  font-weight: 400;
}

.main-wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 900px 1500px 100px 500px;
  grid-template-areas: "intro" "features" "build" "footer";
  gap: 100px 0;
  /*Hero Section*/
  /*Beneficts section*/
  /*Build community section*/
  /*Footer section*/
}

.main-wrapper section {
  padding: 0 5%;
}

.main-wrapper .intro {
  background: url(images/bg-hero-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #ebfbff;
  grid-area: intro;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.main-wrapper .intro .trial {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
}

.main-wrapper .intro .trial a {
  text-decoration: none;
  color: #00252e;
  padding: 10px 35px;
  background-color: white;
  border-radius: 30px;
  color: #00252e;
  font-weight: 600;
  box-shadow: 0 2px 3px #808d99;
}

.main-wrapper .intro .trial a:hover, .main-wrapper .intro .trial a :focus {
  box-shadow: 0px 3px 5px rgba(235, 235, 235, 0.78);
}

.main-wrapper .intro .intro-wrapper {
  height: 85%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.main-wrapper .intro .intro-wrapper .intro-text {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #00252e;
}

.main-wrapper .intro .intro-wrapper .intro-text h1 {
  font-size: 40px;
  font-family: Poppins;
  font-weight: 600;
}

.main-wrapper .intro .intro-wrapper .intro-text .start a {
  text-decoration: none;
  padding: 15px 50px;
  background-color: #ff52bf;
  color: white;
  border-radius: 40px;
}

.main-wrapper .intro .intro-wrapper .intro-text .start a:hover, .main-wrapper .intro .intro-wrapper .intro-text .start a :focus {
  box-shadow: 0px 5px 5px rgba(235, 235, 235, 0.78);
  background-color: #ff85d2;
}

.main-wrapper .intro .intro-wrapper .intro-image-wrapper {
  width: 60%;
}

.main-wrapper .intro .intro-wrapper .intro-image-wrapper .intro-image {
  max-width: 100%;
}

.main-wrapper .features {
  grid-area: features;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr fr 1fr;
  grid-template-areas: "grow-together" "flowing-coversations" "your-users";
  gap: 40px;
}

.main-wrapper .features .all {
  display: flex;
  justify-content: center;
  align-items: stretch;
  box-shadow: 0px 0px 10px 3px rgba(235, 235, 235, 0.78);
  border-radius: 15px;
}

.main-wrapper .features .all .description {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.main-wrapper .features .all .description h2 {
  color: #00252e;
  font-family: Poppins;
  font-weight: 600;
}

.main-wrapper .features .all .illustration {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.main-wrapper .features .all .illustration img {
  max-width: 100%;
  width: 500px;
}

.main-wrapper .features .grow-together {
  grid-area: grow-together;
}

.main-wrapper .features .flowing-coversations {
  grid-area: flowing-coversations;
}

.main-wrapper .features .flowing-coversations .illustration {
  justify-content: flex-start;
}

.main-wrapper .features .your-users {
  grid-area: your-users;
}

.main-wrapper .build {
  grid-area: build;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 0;
}

.main-wrapper .build div {
  width: 50%;
  background-color: white;
  padding: 40px 0;
  margin-bottom: -250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0px -2px 3px rgba(235, 235, 235, 0.78);
  border-radius: 15px;
}

.main-wrapper .build div h2 {
  color: #00252e;
  font-family: Poppins;
  font-weight: 600;
}

.main-wrapper .build div p a {
  text-decoration: none;
  padding: 20px 70px;
  background-color: #ff52bf;
  color: white;
  border-radius: 40px;
}

.main-wrapper .build div p a:hover, .main-wrapper .build div p a :focus {
  box-shadow: 0px 5px 5px rgba(235, 235, 235, 0.78);
  background-color: #ff85d2;
}

.main-wrapper .footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #00252e;
  color: #ebfbff;
}

.main-wrapper .footer p img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
  border: none;
}

.main-wrapper .footer .foot-wrapper {
  height: 60%;
  display: flex;
  justify-content: space-between;
}

.main-wrapper .footer .foot-wrapper div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-wrapper .footer .foot-wrapper .address {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-wrapper .footer .foot-wrapper .address .location-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
}

.main-wrapper .footer .foot-wrapper .address .location-footer:not(:last-of-type) {
  margin-bottom: 20px;
}

.main-wrapper .footer .foot-wrapper .address .location-footer .foot-desc {
  width: 90%;
}

.main-wrapper .footer .foot-wrapper .address .location-footer .foot-desc a {
  color: #ebfbff;
  text-decoration: none;
}

.main-wrapper .footer .foot-wrapper .address .location-footer .foot-desc a:hover, .main-wrapper .footer .foot-wrapper .address .location-footer .foot-desc a :focus {
  text-decoration: underline;
}

.main-wrapper .footer .foot-wrapper .address .location-footer .foot-desc p {
  margin: 0;
}

.main-wrapper .footer .foot-wrapper .address .location-footer .icon-wrap {
  width: 7%;
}

.main-wrapper .footer .foot-wrapper .address .location-footer img {
  width: 17px;
  height: 25px;
}

.main-wrapper .footer .foot-wrapper .address .location-footer .reach {
  width: 25px;
}

.main-wrapper .footer .foot-wrapper .career, .main-wrapper .footer .foot-wrapper .about-us {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-wrapper .footer .foot-wrapper .career ul, .main-wrapper .footer .foot-wrapper .about-us ul {
  list-style: none;
}

.main-wrapper .footer .foot-wrapper .career ul li, .main-wrapper .footer .foot-wrapper .about-us ul li {
  line-height: 4;
}

.main-wrapper .footer .foot-wrapper .career ul li a, .main-wrapper .footer .foot-wrapper .about-us ul li a {
  color: #ebfbff;
  text-decoration: none;
}

.main-wrapper .footer .foot-wrapper .career ul li a:hover, .main-wrapper .footer .foot-wrapper .career ul li a :focus, .main-wrapper .footer .foot-wrapper .about-us ul li a:hover, .main-wrapper .footer .foot-wrapper .about-us ul li a :focus {
  text-decoration: underline;
}

.main-wrapper .footer .foot-wrapper .socials {
  width: 21%;
  flex-direction: column;
  justify-content: center;
}

.main-wrapper .footer .foot-wrapper .socials p a {
  padding: 10px;
  color: #ebfbff;
  text-decoration: none;
  border-radius: 50%;
  border: 1px solid #ebfbff;
}

.main-wrapper .footer .foot-wrapper .socials p a:hover, .main-wrapper .footer .foot-wrapper .socials p a :focus {
  color: #ff52bf;
  border-color: #ff52bf;
}

.main-wrapper .footer .foot-wrapper .socials p a:not(:first-of-type) {
  margin-left: 10px;
}

.main-wrapper .footer .copy {
  width: 100%;
  text-align: right;
}

/*Responsiveness for various screen sizes*/
@media screen and (max-width: 1350px) {
  .main-wrapper {
    grid-template-rows: 700px 1500px 100px 500px;
  }
  .main-wrapper .intro .intro-wrapper .intro-text {
    justify-content: flex-start;
  }
  .main-wrapper .intro .intro-wrapper .intro-text .start a {
    padding: 10px 30px;
  }
  .main-wrapper .build div {
    width: 70%;
  }
  .main-wrapper .footer .foot-wrapper {
    height: 50%;
  }
  .main-wrapper .footer .foot-wrapper .address .location-footer {
    justify-content: space-between;
  }
  .main-wrapper .footer .foot-wrapper .address .location-footer .foot-desc {
    width: 85%;
  }
}

footer .attribution {
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  background-color: #00252e;
  margin: 0;
}

footer .attribution a {
  color: #ff52bf;
}

@media screen and (max-width: 860px) {
  .main-wrapper {
    grid-template-rows: 900px 1800px 100px 800px;
  }
  .main-wrapper .intro .trial {
    height: 7%;
  }
  .main-wrapper .intro .intro-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    height: 90%;
  }
  .main-wrapper .intro .intro-wrapper .intro-text {
    width: 100%;
    text-align: center;
  }
  .main-wrapper .intro .intro-wrapper .intro-text h1 {
    font-size: 32px;
  }
  .main-wrapper .intro .intro-wrapper .intro-image-wrapper {
    width: 100%;
  }
  .main-wrapper .features .all {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .main-wrapper .features .all .description, .main-wrapper .features .all .illustration {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .main-wrapper .features .all .description img, .main-wrapper .features .all .illustration img {
    height: 80%;
  }
  .main-wrapper .features .flowing-coversations {
    flex-direction: column;
  }
  .main-wrapper .build div {
    width: 100%;
    padding: 20px 0;
  }
  .main-wrapper .footer .copy {
    text-align: center;
  }
  .main-wrapper .footer .foot-wrapper {
    height: 70%;
    flex-direction: column;
  }
  .main-wrapper .footer .foot-wrapper .address, .main-wrapper .footer .foot-wrapper .about-us, .main-wrapper .footer .foot-wrapper .socials, .main-wrapper .footer .foot-wrapper .career {
    width: 100%;
  }
  .main-wrapper .footer .foot-wrapper .about-us ul li, .main-wrapper .footer .foot-wrapper .career ul li {
    line-height: 2;
  }
  .main-wrapper .footer .foot-wrapper .career {
    margin-top: -100px;
  }
  .main-wrapper .footer .foot-wrapper .socials {
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .main-wrapper {
    grid-template-rows: 800px 1500px 100px 800px;
  }
  .main-wrapper .intro .trial {
    height: 7%;
  }
  .main-wrapper .intro .trial img {
    width: 35%;
  }
  .main-wrapper .intro .trial a {
    padding: 5px 15px;
    font-size: 14px;
  }
  .main-wrapper .intro .intro-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    height: 90%;
  }
  .main-wrapper .intro .intro-wrapper .intro-text {
    width: 100%;
    text-align: center;
  }
  .main-wrapper .intro .intro-wrapper .intro-text h1 {
    font-size: 32px;
  }
  .main-wrapper .intro .intro-wrapper .intro-image-wrapper {
    width: 100%;
  }
  .main-wrapper .features .all {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .main-wrapper .features .all .description, .main-wrapper .features .all .illustration {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .main-wrapper .features .all .description img, .main-wrapper .features .all .illustration img {
    height: 80%;
    width: 80%;
  }
  .main-wrapper .features .flowing-coversations {
    flex-direction: column;
  }
  .main-wrapper .build div {
    width: 100%;
    padding: 20px 0;
  }
  .main-wrapper .build div h2 {
    font-size: 18px;
  }
  .main-wrapper .build div p a {
    padding: 10px 20px;
    font-size: 14px;
  }
  .main-wrapper .footer .copy {
    text-align: center;
  }
  .main-wrapper .footer .foot-wrapper {
    height: 70%;
    flex-direction: column;
  }
  .main-wrapper .footer .foot-wrapper .address, .main-wrapper .footer .foot-wrapper .about-us, .main-wrapper .footer .foot-wrapper .socials, .main-wrapper .footer .foot-wrapper .career {
    width: 100%;
  }
  .main-wrapper .footer .foot-wrapper .about-us ul li, .main-wrapper .footer .foot-wrapper .career ul li {
    line-height: 2;
  }
  .main-wrapper .footer .foot-wrapper .career {
    margin-top: -60px;
  }
  .main-wrapper .footer .foot-wrapper .socials {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */