/*Colors*/
$pink: hsl(322, 100%, 66%);
$pale-cyan: hsl(193, 100%, 96%);
$dark-cyan: hsl(192, 100%, 9%);
$grayish-blue: hsl(208, 11%, 55%);

/*Typography*/
$size: 18px;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
$poppins: Poppins;
$poppins-weight: 600;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
$open-sans: "Open Sans";
$open-normal: 400;
$open-bold: 700;



*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    resize: both;
}

body,html{
    padding: 0;
    margin: 0;
    background-color: white;
    font-size: $size;
    color: $grayish-blue;
    font-family: $open-sans;
    font-weight: $open-normal;
}

.main-wrapper{
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 900px 1500px 100px 500px;
    grid-template-areas: "intro" "features" "build" "footer" ;
    gap: 100px 0;
    
    section{
        padding: 0 5%;
    }
    /*Intoductory header*/

    .intro{
        background: url(images/bg-hero-desktop.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-color: $pale-cyan;
        grid-area: intro;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;

        .trial{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 10%;
            
            a{
                text-decoration: none;
                color: $dark-cyan;
                padding: 10px 35px;
                background-color: white;
                border-radius: 30px;
                color: $dark-cyan;
                font-weight: $poppins-weight;
                box-shadow:  0 2px 3px $grayish-blue;

                &:hover, :focus{
                    box-shadow: 0px 3px  5px rgba(235, 235, 235, 0.78);
                }
            }
        }
        .intro-wrapper{
            height: 85%;
            display: flex;
            justify-content: space-between;
            align-items: stretch;

            .intro-text{
                width: 30%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: $dark-cyan;
                
                h1{
                    font-size: 40px;
                    font-family: $poppins;
                    font-weight: $poppins-weight;
                }
                .start{

                    a{
                        text-decoration: none;
                        padding: 15px 50px;
                        background-color: $pink;
                        color: white;
                        border-radius: 40px;

                        &:hover, :focus{
                            box-shadow: 0px 5px  5px rgba(235, 235, 235, 0.78);
                            background-color: hsl(322, 100%, 76%);
                        }
                    }
                }
            }
            .intro-image-wrapper{
                width: 60%;

                .intro-image{
                    max-width: 100%;
                }
            }

        }
    }

    /*Beneficts section*/
    .features{
        grid-area: features;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr fr 1fr;
        grid-template-areas: "grow-together" "flowing-coversations" "your-users" ;
        gap: 40px;

        .all{
            display: flex;
            justify-content: center;
            align-items: stretch;
            -webkit-box-shadow: 0px 0px 10px 3px rgba(235, 235, 225, 0.78); 
            box-shadow: 0px 0px 10px 3px rgba(235, 235, 235, 0.78);
            border-radius: 15px;
            
            .description{
                width: 35%;
                display: flex;
                flex-direction: column;
                align-items: stretch;
                justify-content: center;

                h2{
                    color: $dark-cyan;
                    font-family: $poppins;
                    font-weight: $poppins-weight;
                }
            }
            .illustration{
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                img{
                    max-width: 100%;
                    width: 500px;
                }
            }
        }
        .grow-together{
            grid-area: grow-together;       
        }
        .flowing-coversations{
            grid-area: flowing-coversations;

            .illustration{
                justify-content: flex-start;
            }
        }
        .your-users{
            grid-area: your-users;
        }

    }
    /*Build community section*/
    .build{
        grid-area: build;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: 0;
        
        div{
            width: 50%;
            background-color: white;
            padding: 40px 0;
            margin-bottom: -250px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            -webkit-box-shadow: 0px 0px 10px 3px rgba(235, 235, 225, 0.78); 
            box-shadow: 0px -2px  3px rgba(235, 235, 235, 0.78);
            border-radius: 15px;
            
            
            h2{
                color: $dark-cyan;
                font-family: $poppins;
                font-weight: $poppins-weight;
            }
            p{
                a{
                    text-decoration: none;
                    padding: 20px 70px;
                    background-color: $pink;
                    color: white;
                    border-radius: 40px;
                    &:hover, :focus{
                        box-shadow: 0px 5px  5px rgba(235, 235, 235, 0.78);
                        background-color: hsl(322, 100%, 76%);
                    }
                }
            }
        }
    }
    /*Footer section*/
    .footer{
        grid-area: footer;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-color: $dark-cyan;
        color: $pale-cyan;
       
        p{  
            
            img {
                filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
                border: none;
              }
        }

        .foot-wrapper{
            height: 60%;
            display: flex;
            justify-content: space-between;
            
            div{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .address{
                width: 30%;
                display: flex;
                flex-direction: column;
                justify-content:center;
                .location-footer{
                    display: flex;
                    justify-content: space-evenly;
                    align-items: flex-start;
                    flex-direction: row;

                    &:not(:last-of-type){
                        margin-bottom: 20px;
                    }

                    .foot-desc{
                        width: 90%;
                        a{
                            color: $pale-cyan;
                            text-decoration: none;

                            &:hover, :focus{
                                text-decoration: underline;
                            }
                        }
                        p{
                            margin: 0;
                        }
                    }
                    .icon-wrap{
                        width:7%
                    }
                    img{
                        width: 17px;
                        height: 25px;
                    }
                    .reach{
                        width: 25px;
                    }
                }
                
            }
            
            .career, .about-us{
                width: 20%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                ul{
                   
                    list-style: none;
                    li{
                        line-height: 4;
                        a{
                            color: $pale-cyan;
                            text-decoration: none;

                            &:hover, :focus{
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
            .socials{
                width: 21%;
                flex-direction: column;
                justify-content: center;

                p{
                    
                    a{  
                        padding: 10px;
                        color: $pale-cyan;
                        text-decoration: none;
                        border-radius: 50%;
                        border: 1px solid $pale-cyan;

                        &:hover, :focus{
                            color:$pink;
                            border-color: $pink;
                        }
                        &:not(:first-of-type){
                            margin-left: 10px;
                        }
                    }
                }
            }
        }

        .copy{
            width: 100%;
            text-align: right;
        }
    }
}

/*Responsiveness for various screen sizes*/

@media screen and (max-width:1350px){
    .main-wrapper{
        grid-template-rows: 700px 1500px 100px 500px;
        .intro{
            .intro-wrapper{
               .intro-text{
                   justify-content: flex-start;

                   .start{
                       a{
                           padding: 10px 30px;
                       }
                   }
               }
            }
        }
        .build{
            
            div{
                width: 70%;
            }
        }
        .footer{
            .foot-wrapper{
                height: 50%;
                .address{
                    .location-footer{
                        justify-content: space-between;
                        .foot-desc{
                            width: 85%;
                        }
                    }
                }
            }
        }
    }
}
footer{
    .attribution { 
        font-size: 12px; 
        font-weight: $open-bold;
        text-align: center; 
        background-color: $dark-cyan;
        margin: 0;

        a { 
            color: $pink 
        }
    }
}
@media screen and (max-width:860px){
    
    .main-wrapper{
        grid-template-rows: 900px 1800px 100px 800px;
        .intro{
        
            .trial{
                height: 7%;
            }
            .intro-wrapper{
                display: flex;
                flex-direction: column;
                align-items: stretch;
                justify-content: space-around;
                height: 90%;

                .intro-text{
                    width: 100%;
                    text-align: center;
                    h1{
                        font-size: 32px;
                    }
                }
                .intro-image-wrapper{
                    width: 100%;
                   
                }
            }
        }
        .features{
           
            .all{
                flex-direction: column-reverse;
                justify-content: center;

                .description , .illustration{
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    text-align: center;

                    img{
                        height: 80%;
                    }
                }
            }
            .flowing-coversations{
                flex-direction: column;
            }
        }
        .build{
            
            div{
                width: 100%;
                padding: 20px 0;
            }
        }
        .footer{
            .copy{
                text-align: center;
            }
            .foot-wrapper{
                height: 70%;
                flex-direction: column;

                .address, .about-us, .socials,.career{
                    width: 100%;
                }
                .about-us,.career{
                    ul{
                        li{
                            line-height: 2;
                        }
                    }
                }
                .career{
                    margin-top: -100px;
                }
                .socials{
                    text-align: center;
                }
            }
        }
    }
}
@media screen and (max-width:500px){
    
    .main-wrapper{
        grid-template-rows: 800px 1500px 100px 800px;
        .intro{
        
            .trial{
                height: 7%;

                img{
                    width: 35%;
                }
                a{
                    padding: 5px 15px;
                    font-size: 14px;
                }
            
            }
            .intro-wrapper{
                display: flex;
                flex-direction: column;
                align-items: stretch;
                justify-content: space-around;
                height: 90%;

                .intro-text{
                    width: 100%;
                    text-align: center;
                    h1{
                        font-size: 32px;
                    }
                }
                .intro-image-wrapper{
                    width: 100%;
                   
                }
            }
        }
        .features{
           
            .all{
                flex-direction: column-reverse;
                justify-content: center;

                .description , .illustration{
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    text-align: center;

                    img{
                        height: 80%;
                        width: 80%;
                    }
                }
            }
            .flowing-coversations{
                flex-direction: column;
            }
        }
        .build{
            
            div{
                width: 100%;
                padding: 20px 0;

                h2{
                    font-size:$size;
                }
                p{
                    a{
                        padding: 10px 20px;
                        font-size: 14px;
                    }
                }
            }
        }
        .footer{
            .copy{
                text-align: center;
            }
            .foot-wrapper{
                height: 70%;
                flex-direction: column;

                .address, .about-us, .socials,.career{
                    width: 100%;
                }
                .about-us,.career{
                    ul{
                        li{
                            line-height: 2;
                        }
                    }
                }
                .career{
                    margin-top: -60px;
                }
                .socials{
                    text-align: center;
                }
            }
        }
    }
}